@font-face {
    font-family: "blackpearl";
    src:url("../images/BlackPearl.ttf") format("truetype");
}
body {
    background: url("../images/0d6f7373fc8fc6a98185dd293e89e0b3.jpg") no-repeat;
    background-size: cover; 
    margin: 0;
    font-family: "blackpearl";
    
}

.titleImg {
    margin-left: 10%;
    width: 900px;
    height: 210px;
}

.textTitle {
    position: absolute;
    top: 50px;
    left: 22%;
    text-align: center;
    color: black;
    font-size: 40px;
    font:  "blackpearl";

}

.woodSign {
    width: 300px;
    height: 420px;
}

.textimg {
    position: absolute;
    color: black;
    width: 150px;
    text-align: center;
    left: 100px;
    bottom: 35px;
    font-size: 12px bold;
  }

  #diamond, #sapphire  {
    padding-top: 50px;
  }
  

#generator,
#scoreboard,
#yourScore {
    font-size: 24px;
    text-align: center;
    background: url("../images/old_map/old_map.png");
    padding-top: 10px;   
}

#ranNumGen, #scoreGen
 {
    font-size: 100px;
}

@media only screen and (max-width: 900px) {
.titleImg {
    width: 100%;
}
.textTitle {
    font-size: 5vw;
}


#generator,
#scoreboard,
#yourScore {
    left: 10%;
       
}

#ranNumGen,
#scoreGen {
    font-size: 50px;
}

.emerald, .diamond, .ruby, .sapphire {
}


}